﻿@import '../sp-base-values.less';

.mdl-card {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    width: auto;

    .mdl-button--icon {
        background: @sp-discord-white
    }

    &__title {
        min-height: 100px;
        background-color: @sp-discord-dark-purple;
        background-repeat: no-repeat;
        background-position: center;

        img {
            margin: auto;
            -webkit-border-radius: 10px;
            -moz-border-radius: 33px;
            border-radius: 33px;
            border: none;
        }
    }

    &__supporting-text {
        color: @sp-dark-grey;
    }
}

.mdl-menu {

    &--bottom-left {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: none;
    }

    &__item {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: none;
        color: @sp-discord-dark-grey;

        &:hover {
            background: @sp-discord-dark-purple;
            color: @sp-discord-white;
        }
    }
}

.sp-avatar{
    height: 100px;
    width: 100px;
}