﻿@{
    ViewData["PageTitle"] = "Integrations";
}

@using SubPub.Controllers
@using SubPub.Enums
@model SubPub.Models.ViewModels.Integration.IntegrationIndexModel

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/Integration/Index.css" />
}


<div id="sp-integration-index-container">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col">
            <button id="sp-button__add-integration" class="mdl-button sp-button--blue mdl-js-button mdl-js-ripple-effect"><i class="fas fa-plus"></i> Add Integration</button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="sp-button__add-integration">
                <li class="add-integraion mdl-menu__item" data-sp-add-target="youtube"><i class="fab fa-youtube sp-color-text--youtube-red"></i> YouTube</li>
                <li class="add-integraion mdl-menu__item" data-sp-add-target="twitter"><i class="fab fa-twitter sp-color-text--twitter-blue"></i> Twitter</li>
                <li class="add-integraion mdl-menu__item" data-sp-add-target="discord"><i class="fab fa-discord sp-color-text--discord-dark-purple"></i> Discord</li>
            </ul>
        </div>
    </div>
    <div class="mdl-grid">
        @{ var iconColorClass = string.Empty; }
        @foreach (var integrationModel in Model.IntegrationModels)
        {
            {
                if (integrationModel.AccountType == "youtube")
                {
                    iconColorClass = "sp-color-text--youtube-red";
                }

                else if (integrationModel.AccountType == "twitter")
                {
                    iconColorClass = "sp-color-text--twitter-blue";
                }

                else if (integrationModel.AccountType == "discord")
                {
                    iconColorClass = "sp-color-text--discord-dark-purple";
                }
            }

            <div id="@("cell_" + integrationModel.AccountId)" class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--6-col-phone">
                <div class="mdl-card mdl-shadow--8dp">
                    <div class="mdl-card__menu">
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="account-icon fab @("fa-" + integrationModel.AccountType) @iconColorClass" data-sp-target="@integrationModel.AccountType"></i>
                        </button>
                    </div>
                    <div class="mdl-card__title mdl-card--expand">
                        <img class="sp-avatar" src="@integrationModel.AvatarUrl" />
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="mdl-typography--body-2">@integrationModel.AccountName</div>
                        <div class="mdl-typography--body-1">Type: @integrationModel.AccountType</div>
                        <div class="mdl-typography--body-1">ID: @integrationModel.AccountId</div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border mdl-typography--text-center">
                        <button class="mdl-button sp-button--blue mdl-js-button mdl-js-ripple-effect remove-button" data-sp-add-target="@integrationModel.AccountType" data-sp-id="@integrationModel.AccountId"><i class="fas fa-unlink"></i> Remove</button>
                        <div id="@("spinner_" + integrationModel.AccountId)" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner" style="display: none;"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var addIntegrationUrls = {
                youtube: '@Url.Action(nameof(IntegrationController.AddYouTubeIntegration))',
                twitter: '@Url.Action(nameof(IntegrationController.AddTwitterIntegration))',
                discord: '@Url.Action(nameof(IntegrationController.AddDiscordIntegration))'
            };

            var removeIntegrationUrls = {
                youtube: '@Url.Action(nameof(IntegrationController.RemoveYouTubeIntegration))',
                twitter: '@Url.Action(nameof(IntegrationController.RemoveTwitterIntegration))',
                discord: '@Url.Action(nameof(IntegrationController.RemoveDiscordIntegration))'
            };

            $('.add-integraion').each(function () {
                var self = $(this);

                self.click(function () {
                    var target = self.data('sp-add-target');
                    var url = addIntegrationUrls[target];

                    $.post(url, function (result) {
                        if (result) {
                            window.location.href = result;
                        }
                    });
                });
            });


            $('.remove-button').each(function () {
                var button = $(this);

                button.click(function () {
                    var id = button.data('sp-id');
                    var target = button.data('sp-add-target');
                    var cell = $('#cell_' + id);
                    var spinner = $('#spinner_' + id);
                    var url = removeIntegrationUrls[target];
                    var data = {
                        channelId: id,
                        twitterUserId: id,
                        guildId: id
                    };

                    button.hide();
                    spinner.addClass('is-active');
                    spinner.show();
                    $.post(url, data, function (result) {
                        if (result) {
                            spinner.hide();
                            spinner.removeClass('is-active');
                            cell.remove();

                            SubPub.Snackbar.success('Integration Removed!', 3000);
                        }
                    });
                });
            });
        });
    </script>
}