﻿/*SubPub Color Palette*/
@sp-dark-grey: #23272A;
@sp-dark-purple: #697FCB;
@sp-grey: #2C2F33;
@sp-purple: #7289D9;
@sp-white: #FFF;

/*YouTube Color Palette*/
@sp-youtube-blue: #2793E8;
@sp-youtube-green: #559900;
@sp-youtube-grey: #666;
@sp-youtube-red: #CC181E;
@sp-youtube-white: #F1F1F1;

/*Twitter Color Palette*/
@sp-twitter-blue: #1DA1F2;
@sp-twitter-off-white: #F5F8Fa;
@sp-twitter-turquoise: #0084B4;
@sp-twitter-white: #FFF;

/*Discord Color Palette*/
@sp-discord-dark-grey: #23272A;
@sp-discord-dark-purple: #697FCB;
@sp-discord-grey: #2C2F33;
@sp-discord-purple: #7289D9;
@sp-discord-white: #FFF;
