﻿/*Imports*/
@import 'sp-base-values.less';

/*Background Colors*/
.sp-color--dark-grey {
    background: @sp-dark-grey;
}

.sp-color--dark-purple {
    background: @sp-dark-purple;
}

.sp-color--grey {
    background: @sp-grey;
}

.sp-color--purple {
    background: @sp-purple;
}

.sp-color--white {
    background: @sp-white;
}

/*Text Colors*/
.sp-color-text--dark-grey {
    color: @sp-dark-grey;
}

.sp-color-text--dark-purple {
    color: @sp-dark-purple;
}

.sp-color-text--grey {
    color: @sp-grey;
}

.sp-color-text--purple {
    color: @sp-purple;
}

.sp-color-text--white {
    color: @sp-white;
}

.sp-color-text--youtube-red {
    color: @sp-youtube-red;
}

.sp-color-text--twitter-blue {
    color: @sp-twitter-blue;
}

.sp-color-text--discord-dark-purple {
    color: @sp-discord-dark-purple;
}