﻿@using SubPub.Controllers
@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="~/css/libs.min.css" />
    @RenderSection("Styles", false)

    <title>SubPub - @ViewData["PageTitle"]</title>
</head>
<body class="sp-layout__content">
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <div class="mdl-layout__drawer">
            <header class="sp-layout__drawer-header">
                <img src="~/images/SubPub_LogoDesign_1024x1024.png" class="sp-layout__drawer-header-logo">
            </header>
            <nav class="sp-navigation mdl-navigation">
                <div class="mdl-typography--headline sp-layout__drawer-profile">
                    <img id="sp-drawer-profile__user-image" width="50" height="50" src="@User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value" />
                    <span id="sp-drawer-profile__user-name">
                        @(ViewData["UserFullName"].ToString().Length > 13 ? ViewData["UserFullName"].ToString().Substring(0, 10) + "..." : ViewData["UserFullName"])
                    </span>
                </div>
                <a class="mdl-navigation__link" href="@Url.Action(nameof(AccountController.UserProfile), nameof(AccountController).Replace("Controller", ""))"><i class="fa fa-user"></i>&nbsp;Profile</a>
                <a class="mdl-navigation__link" href="@Url.Action(nameof(IntegrationController.Index), nameof(IntegrationController).Replace("Controller", ""))"><i class="fa fa-puzzle-piece"></i>&nbsp;Integrations</a>
                <a class="mdl-navigation__link" href=""><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                <a class="mdl-navigation__link" href=""><i class="fab fa-twitter"></i>&nbsp;Twitter</a>
                <a class="mdl-navigation__link" href=""><i class="fab fa-discord"></i>&nbsp;Discord</a>
                <div class="mdl-layout-spacer"></div>
                <a class="mdl-navigation__link" href=""><i class="fas fa-question"></i>&nbsp;Support</a>
                <a class="mdl-navigation__link" style="margin-bottom: 25px;" href="@Url.Action(nameof(AccountController.Logout), nameof(AccountController).Replace("Controller", ""))"><i class="fa fa-sign-out-alt"></i>&nbsp;Logout</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="sp-body">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col">
                        <h1 class="mdl-typography--headline">@ViewData["PageTitle"]</h1>
                    </div>
                </div>
                @RenderBody()
                <div id="sp-snackbar" class="mdl-js-snackbar mdl-snackbar">
                    <div class="mdl-snackbar__icon">
                        <i id="sp-snackbar__icon" class="fas fa-2x"></i>
                    </div>
                    <div class="mdl-snackbar__text"></div>
                    <button class="mdl-snackbar__action" type="button"></button>
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="~/js/libs.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
