﻿/*Imports*/
@import '../sp-base-values.less';

.sp-body {
    margin: 25px;
}

.sp-layout__content {
    background: @sp-white !important;
}

.sp-button--blue {
    color: @sp-dark-grey !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;

    &:hover {
        background: @sp-dark-purple !important;
        color: @sp-white !important;
    }
}

.sp-layout--center-content {
    margin: auto;
}

.sp-layout__drawer {
    &-header {
        margin: auto;
        margin-top: 25px;

        &-logo {
            height: 128px;
            width: 128px;
        }
    }

    &-profile {
        margin-bottom: 15px;

        img {
            color: @sp-dark-grey !important;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            border: none;
            width: 50px;
            height: 50px;
        }
    }
}

#sp-snackbar{
    background: @sp-dark-grey;
    color: @sp-white;
}

.mdl-snackbar__icon {
    color: @sp-white;
    padding: 13px 0 0 24px;
}

.sp-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.mdl-layout {
    &-title {
        color: #E7DFDD;
    }

    &__header {
        background: #4717f6 !important;
    }

    &__drawer {
        border: none;
        background: @sp-dark-grey !important;

        .mdl-navigation {
            color: @sp-white !important;

            &__link {
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border: none;
                display: flex !important;
                flex-direction: row;
                align-items: center;
                font-size: medium;
                color: @sp-white !important;

                &:hover {
                    background: @sp-dark-purple !important;
                    color: @sp-white !important;
                }
            }
        }
    }
}
