﻿@import '../sp-base-values.less';

.mdl-card,
.mdl-card__title img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    margin: auto;
}

.mdl-card__title {
    background-color: @sp-dark-purple;
}
