﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="~/css/libs.min.css" />

    @RenderSection("Styles", false)
</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title"><img src="~/images/SubPubLogo_1024x1024.png" width="64" height="64" /> SubPub</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="mdl-navigation__link" href="@Url.Action("Logout", "Account")">Logout</a>
                    }
                    else
                    {
                        <a class="mdl-navigation__link sp-button--blue" href="@Url.Action("Login", "Account", new { returnUrl = Url.Action("Index", "Integration") })">Login / Sign Up</a>
                    }
                </nav>
            </div>
        </header>
        <main class="mdl-layout__content sp-layout__content">
            <div class="sp-body">
                @RenderBody()
            </div>
        </main>
    </div>

    <script type="text/javascript" src="~/js/libs.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
