﻿@{
    ViewData["PageTitle"] = "User Profile";
    string picUrl = User.Claims.FirstOrDefault(c => c.Type == "picture").Value;
}

@using SubPub.Controllers

@model SubPub.Models.ViewModels.Account.AccountUserProfileModel

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/Account/UserProfile.min.css" />
}

<div id="sp-account-userprofile-container">
    <div class="mdl-card mdl-shadow--8dp">
        <div class="mdl-card__title mdl-card--expand">
            <img id="sp-card__user-title-image" src="@User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value" height="100" width="100" />
        </div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sp-profile-name">
                    <label class="mdl-textfield__label" for="sp-profile-name">Name</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sp-profile-emailaddress">
                    <label class="mdl-textfield__label" for="sp-profile-emailaddress">Email Address</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border mdl-typography--text-center">
            <button id="sp-button__update-profile" class="mdl-button sp-button--blue mdl-js-button mdl-js-ripple-effect remove-button"><i class="fas fa-sync-alt"></i> Update</button>
            <div id="sp-spinner__update-profile" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner" style="display: none;"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#sp-profile-name').val('@ViewData["UserFullName"]');
        $('#sp-profile-emailaddress').val('@Model.EmailAddress');

        $('#sp-button__update-profile').click(function () {
            var button = $(this);
            var spinner = $('#sp-spinner__update-profile');
            var username = $('#sp-drawer-profile__user-name');

            button.hide();
            spinner.addClass('is-active');
            spinner.show();

            var data = {
                name: $('#sp-profile-name').val(),
                emailAddress: $('#sp-profile-emailaddress').val()
            };

            $.post('@Url.Action(nameof(AccountController.UpdateUserProfile))', data, function (result) {
                if (result) {
                    spinner.hide();
                    spinner.removeClass('is-active');
                    button.show();

                    $('#sp-card__user-title-image').attr('src', data.profilePictureUrl);

                    if (data.name.length > 10) {
                        data.name = data.name.substring(0, 10) + '...';
                    }

                    username.text(data.name);

                    SubPub.Snackbar.success('Profile Updated!', 3000);
                }
            });
        });
    </script>
}
